<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <title>Croppi!</title>
    <script src="jquery-ui-1.8.2/js/jquery-1.4.2.min.js"></script>
    <script src="jquery-ui-1.8.2/js/jquery-ui-1.8.2.custom.min.js"></script>
    <script src="Jcrop/js/jquery.Jcrop.js"></script>
    <script src="jquery-spinbox/jquery.spinbox.js"></script>
    <script src="croppi.js"></script>
    <link href="jquery-ui-1.8.2/css/smoothness/jquery-ui-1.8.2.custom.css" rel="stylesheet" type="text/css" />
    <link href="Jcrop/css/jquery.Jcrop.css" rel="stylesheet" type="text/css" />
    <link href="jquery-spinbox/jquery.spinbox.css" rel="stylesheet" type="text/css" />
    <link href="croppi.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1 id="title">
      <a href="/">
        <span class="name">Croppi!</span>
        <span id="description">画像を任意のサイズに楽ちんクロップ</span>
      </a>
    </h1>
    <div id="bo">
      <div id="zo">
        <div id="back"></div>
        <div id="area">
          <img id="cimg" name="cimg" src="cimg.gif" />
        </div>
        <input id="inputFile" type="file" />
      </div>
      <div class="clearfix" id="about">
        <div class="usage">
          <h2>croppi! の使い方</h2>
          <ol>
            <li>
              <img src="/images/usage_01.jpg" />
              <p>クロップしたい画像をドラッグアンドドロップ、もしくは、その下のボタンをクリックして画像を選択</p>
            </li>
            <li>
              <img src="/images/usage_02.jpg" />
              <p>チェックボックスをクリックし、クロップ後の画像サイズ（横幅・高さ）を入力。クロップ後の画像サイズに合わせて元画像の縮小率をスライダーで調整して、クロップしたい位置を選択</p>
            </li>
            <li>
              <img height="178" src="/images/usage_03.jpg" width="270" />
              <p>最後に「crop」ボタンをクリックして、クロップされた画像をゲット！</p>
            </li>
          </ol>
        </div>
        <div class="browser content">
          <h2>croppi! が使える環境</h2>
          <ul>
            <li>Firefox3.6.4 以上</li>
            <li>Chrome6.0 以上</li>
          </ul>
          <p class="current">2010年7月15日現在</p>
        </div>
        <div class="copyright content">
          <h2>作者・ライセンス</h2>
          <dl>
            <dt>作者</dt>
            <dd class="name">
              <a href="http://twitter.com/cherenkov" target="_blank">
                <img alt="" border="0" class="twitter" height="73" id="profile-image" src="http://a0.twimg.com/profile_images/1043052304/cherenkov_light_bigger.gif" valign="middle" width="73" />
                <span>cherenkov</span>
              </a>
            </dd>
            <dt>ライセンス</dt>
            <dd>
              <a href="http://ja.wikipedia.org/wiki/MIT_License" target="_blank">MIT License</a>
            </dd>
            <dt>リポジトリ</dt>
            <dd>
              <a href="http://github.com/cherenkov/croppi" target="_blank">http://github.com/cherenkov/croppi</a>
            </dd>
          </dl>
        </div>
        <div class="report content">
          <h2>バグ報告、機能追加リクエスト</h2>
          <p>
            <a href="http://help-me-hackers.com/projects/12" target="_blank">
              <img src="images/hmhs_banner.jpg" />
            </a>
          </p>
          <p><a href="http://help-me-hackers.com/projects/12" target="_blank">help me, hackers!</a>のcroppi!プロジェクトページから「このプロジェクトにタスクを登録」をクリックし、バグ報告、機能追加リクエストを行えば、誰かが解決してくれるかも。
          </p>
        </div>
      </div>
    </div>
    <canvas id="canvas"></canvas>
    <div id="footerMenu">
      <div id="footer_file"></div><!--参照ボタンいらない？-->
      <div>
        <input id="checkBtn" type="checkbox" />
        <label for="checkBtn" id="checkBtnLabel">&#11034;</label>
        <span id="lr">&harr;</span>
        <input id="inputWidth" type="text" value="100" />
        <span id="ud">&#x2195;</span>
        <input id="inputHeight" type="text" value="100" />
      </div>
      <div id="sl">
        <div id="slider"></div>
      </div>
      <div id="sc">
        <span id="scale"></span>
      </div>
      <div id="cb">
        <form action="" enctype="multipart/form-data" method="post">
          <input id="form_filename" name="filename" type="hidden" value="" />
          <input id="form_imagedata" name="imagedata" type="hidden" value="" />
          <input id="cropBtn" type="button" value="&#9988;" />
        </form>
      </div>
    </div>
    <input id="api_fileName" type="hidden" value="<%= @api_fileName %>"/>
    <input id="api_dataURL" type="hidden" value="<%= @api_dataURL %>"/>
  </body>
</html>
