#c1 {
  display: none;
  position: fixed;
  bottom: 100px;
  left: 0;
  border: 3px dotted pink;
  z-index: 299;
}


#bo {
	text-align: center;
	color: #FFFFFF;
}

#zo {
  position: relative;
}

#scale {

}

#area {
  margin: 0 auto;
  position: relative;
}

#back {
	margin: 0 auto;
	/*position: absolute;*/
  background-color: whitesmoke;
	background-image: url(back.gif);
}


#sl {
  width: 120px;
  margin-top: 5px;
  margin-left: 20px;
}

#sc {
	margin-top: 2px;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 20px;
}

#cb {
	margin-bottom: 0px;
}
#cb form {
	height: 6px;
}

#cropBtn {
}


#footer_menu {
	display: none;
	position: fixed;
	bottom: 10px;
	z-index: 300;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 6px;
	padding-left: 15px;
	-moz-box-shadow: 2px 2px 5px #000;
	-webkit-box-shadow: 5px 5px 5px #000;
	-o-box-shadow: 5px 5px 5px #000;
	-box-shadow: 5px 5px 5px #000;
	margin-left: auto;
	background-image: url(images/content_bg.gif);
	margin-right: auto;
}


/* footer_menuの子divにwidthを指定せよ。*/
#footer_menu > div {
  float: left;
}
#sc span {
	width:3.5em;
	display: block;
}



/*
#area {
  margin: 0 auto;
  text-align: center;

  border: thick dotted gray;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

}
*/

body {
	background-color: #000000;
	color: #FFFFFF;
}
h1#title {
	font-size: 18px;
	color: #FFFFFF;
	height: 88px;
	padding-left: 400px;
	line-height: 88px;
	background-image: url(h1.gif);
	background-repeat: no-repeat;
	display: block;
	margin-top: 10px;
	width: 17em;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
}
h1#title span.name {
	display: none;
}
div#area img#cimg {
	margin-bottom: 15px;
}
#about {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
	font-size: 14px;
	padding-bottom: 30px;
	overflow: hidden;
	text-align: left;
}
#about div.content {
	width: 280px;
	font-size: 14px;
	padding-bottom: 0px;
	overflow: hidden;
	text-align: left;
	float: left;
	padding: 0px;
	line-height: 1.4;
}
#about div.copyright {
	padding-top: 0px;
	padding-right: 60px;
	padding-bottom: 0px;
	padding-left: 60px;
}
#about div.usage {
	padding: 20px;
	background-image: url(images/content_bg.gif);
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	overflow: hidden;
	margin-bottom: 35px;
}
#about div.usage h2 {
	padding: 0px;
	font-size: 14px;
	display: block;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
#about div.content h2 {
	padding: 0px;
	font-size: 14px;
	display: block;
	margin-top: 0px;
	margin-bottom: 15px;
	text-align: center;
	background-color: #4d4d4d;
	line-height: 1.8;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}
#about div.usage ol {
	display: block;
	margin: 0px;
	text-align: left;
	padding: 0px;
}
#about div.usage li {
	margin: 0px;
	padding-top: 0px;
	padding-right: 50px;
	padding-bottom: 0px;
	padding-left: 50px;
	line-height: 26px;
	float: left;
	width: 270px;
	display: block;
}
#about div.usage li:first-child,
#about div.usage li:last-child {
	padding-right: 0px;
	padding-left: 0px;
}

#about div.usage li img {
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	display: block;
}
#about div.usage p {
	font-size: 13px;
	line-height: 1.4;
	padding: 0px;
	margin: 0px;
}
#about .content ul {
	padding-left: 25px;
	list-style-position: outside;
	list-style-type: disc;
}
#about .browser .current {
	font-size: 12px;
	display: block;
	text-align: right;
}
#about .copyright dt,
#about .copyright dd {
	display: block;
	clear: both;
}
#about .copyright dt {
	margin-bottom: 5px;
}
#about .copyright dd {
	margin-bottom: 20px;
	margin-left: 25px;
}
#about .copyright dd.name {
	height: 52px;
}
#about .copyright dd.name a img {
	height: 48px;
	width: 48px;
	margin-right: 8px;
	float: left;
}
#about .copyright dd.name a span {
	height: 18px;
	line-height: 18px;
	display: block;
	float: left;
	padding-top: 35px;
}
#about .report p {
	font-size: 13px;
}
#about .report p a img {
	margin-right: auto;
	margin-left: auto;
	display: block;
}
#about a:link {
	color: #45fef3;
	text-decoration: underline;
}
#about a:visited {
	color: #35dfd5;
	text-decoration: underline;
}
#about a:hover,
#about a:active {
	color: #fe4598;
	text-decoration: underline;
}
#about a:link img {
	border: 3px solid #606060;
}
#about a:visited img {
	border: 3px solid #606060;
}
#about a:hover img,
#about a:active img {
	border: 3px solid #fe4598;
}
