#c1 {
  display: none;
  position: fixed;
  bottom: 100px;
  left: 0;
  border: 3px dotted pink;
  z-index: 299;
}


#bo {
	text-align: center;
	color: #FFFFFF;
}

#zo {
  position: relative;
}

#scale {

}

#area {
  margin: 0 auto;
  position: relative;
}

#back {
  margin: 0 auto;
  /*position: absolute;*/
  background-color: whitesmoke;
}


#sl {
  width: 120px;
  margin-top: 5px;
  margin-left: 20px;
}

#sc {
  margin: 2px 20px 0;
}

#cb {

}

#cropBtn {
}


#footer_menu {
  display: none;
  position: fixed;
  bottom: 5px;
  background: lightgrey;
  z-index: 300;
}


/* footer_menuの子divにwidthを指定せよ。*/
#footer_menu > div {
  float: left;
}




/*
#area {
  margin: 0 auto;
  text-align: center;

  border: thick dotted gray;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

}
*/

body {
	background-color: #000000;
}
h1#title {
	font-size: 18px;
	color: #FFFFFF;
	height: 88px;
	padding-left: 400px;
	line-height: 88px;
	background-image: url(h1.gif);
	background-repeat: no-repeat;
	display: block;
	margin-top: 10px;
	width: 17em;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
}
h1#title span {
	display: none;
}
div#area img#cimg {
	margin-bottom: 15px;
}
