#c1 {
  display: none;
  position: fixed;
  bottom: 100px;
  left: 0;
  border: 3px dotted pink;
  z-index: 299;
}

#bo {
  text-align: center;
  color: #FFFFFF;
}

#zo {
  position: relative;
}

#area {
  margin: 0 auto;
  position: relative;
}

#back {
  margin: 0 auto;
  background-color: whitesmoke;
  background-image: url(back.gif);
}

#sl {
  width: 120px;
  margin-top: 5px;
  margin-left: 20px;
}

#sc {
	margin-top: 2px;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 20px;
}

#cb {
	margin-bottom: 0px;
	position: relative;
	top: -7px;
}
#cb form {
	height: 6px;
}


#footer_menu {
	width: 510px;
	display: none;
	position: fixed;
	bottom: 10px;
	z-index: 300;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 6px;
	padding-left: 15px;
	-moz-box-shadow: 2px 2px 5px #000;
	-webkit-box-shadow: 5px 5px 5px #000;
	-o-box-shadow: 5px 5px 5px #000;
	-box-shadow: 5px 5px 5px #000;
	background-image: url(images/content_bg.gif);
	-moz-user-select: none;
	-webkit-user-select: none;
}

#footer_menu > div {
  float: left;
}

.ui-button-text {
  padding: 3px 5px !important;
  line-height: normal !important;
}

#lr, #ud {
  font-family: "Lucida Sans Unicode","Lucida Grande",Arial,Helvetica,"ヒラギノ丸ゴ Pro W4",HiraMaruPro-W4,Verdana,HiraMaruPro-W4,"ヒラギノ角ゴ Pro W3",HiraKakuPro-W3,Osaka,sans-serif;
}

#lr {
  margin-left: 15px;
  font-size: 1.5em;
  font-weight: bold;
}

#ud {
  margin-left: 5px;
  font-size: 1.5em;
  font-weight: bold;

}

#inputWidth, #inputHeight {
  width: 54px;
}

#cropBtn {
  font-size: 1.8em;
  padding: 0;
}


#sc span {
	width:3.5em;
	display: block;
}




body {
	background-color: #000000;
	color: #FFFFFF;
	font-family:'メイリオ',"Lucida Sans Unicode","Lucida Grande",Arial,Helvetica,"ヒラギノ丸ゴ Pro W4",HiraMaruPro-W4,Verdana,HiraMaruPro-W4,"ヒラギノ角ゴ Pro W3",HiraKakuPro-W3,Osaka,sans-serif;
}
h1#title {
	font-size: 18px;
	color: #FFFFFF;
	height: 88px;
	line-height: 88px;
	display: block;
	margin-top: 10px;
	width: 17em;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
	width:730px
}
h1#title a {
	padding-left: 400px;
	background-image: url(h1.gif);
	background-repeat: no-repeat;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}
h1#title span.name {
	display: none;
}
div#area img#cimg {
	margin-bottom: 15px;
}
#about {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
	font-size: 14px;
	padding-bottom: 30px;
	overflow: hidden;
	text-align: left;
}
#about div.content {
	width: 280px;
	font-size: 14px;
	padding-bottom: 0px;
	overflow: hidden;
	text-align: left;
	float: left;
	padding: 0px;
	line-height: 1.4;
}
#about div.copyright {
	padding-top: 0px;
	padding-right: 60px;
	padding-bottom: 0px;
	padding-left: 60px;
}
#about div.usage {
	padding: 20px;
	background-image: url(images/content_bg.gif);
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	overflow: hidden;
	margin-bottom: 35px;
}
#about div.usage h2 {
	padding: 0px;
	font-size: 14px;
	display: block;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
#about div.content h2 {
	padding: 0px;
	font-size: 14px;
	display: block;
	margin-top: 0px;
	margin-bottom: 15px;
	text-align: center;
	background-color: #4d4d4d;
	line-height: 1.8;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}
#about div.usage ol {
	display: block;
	margin: 0px;
	text-align: left;
	padding: 0px;
}
#about div.usage li {
	margin: 0px;
	padding-top: 0px;
	padding-right: 50px;
	padding-bottom: 0px;
	padding-left: 50px;
	line-height: 26px;
	float: left;
	width: 270px;
	display: block;
}
#about div.usage li:first-child,
#about div.usage li:last-child {
	padding-right: 0px;
	padding-left: 0px;
}

#about div.usage li img {
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	display: block;
}
#about div.usage p {
	font-size: 13px;
	line-height: 1.4;
	padding: 0px;
	margin: 0px;
}
#about .content ul {
	padding-left: 25px;
	list-style-position: outside;
	list-style-type: disc;
}
#about .browser .current {
	font-size: 12px;
	display: block;
	text-align: right;
}
#about .copyright dt,
#about .copyright dd {
	display: block;
	clear: both;
}
#about .copyright dt {
	margin-bottom: 5px;
}
#about .copyright dd {
	margin-bottom: 20px;
	margin-left: 25px;
}
#about .copyright dd.name {
	height: 52px;
}
#about .copyright dd.name a img {
	height: 48px;
	width: 48px;
	margin-right: 8px;
	float: left;
}
#about .copyright dd.name a span {
	height: 18px;
	line-height: 18px;
	display: block;
	float: left;
	padding-top: 35px;
}
#about .report p {
	font-size: 13px;
}
#about .report p a img {
	margin-right: auto;
	margin-left: auto;
	display: block;
}
#about a:link {
	color: #45fef3;
	text-decoration: underline;
}
#about a:visited {
	color: #35dfd5;
	text-decoration: underline;
}
#about a:hover,
#about a:active {
	color: #fe4598;
	text-decoration: underline;
}
#about a:link img {
	border: 3px solid #606060;
}
#about a:visited img {
	border: 3px solid #606060;
}
#about a:hover img,
#about a:active img {
	border: 3px solid #fe4598;
}

/* IEユーザーには見せない */
*html *,
*:first-child+html *,
head~/* */body * {
    background-color: #000 !important;
    background-image: none !important;
    border: none !important;
    display: none !important;
}
*html body,
*:first-child+html body,
head~/* */body {
    text-indent: 0px !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/error.gif) !important;
    display: block !important;
}
